[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
pandas = "*"
konlpy = "*"
networkx = "*"
sklearn = "*"
matplotlib = "*"
wordcloud = "*"
gensim = "*"
pyldavis = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[requires]
python_version = "3.8"
